.Header-div {
  display: flex;
  justify-content: center;
}
.Header-div nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 28.5em;
  width: 100%;
}

.Company-info {
  display: flex;
  justify-content: flex-end;
  gap: 2em;
  font: 400 16px "Roboto", sans-serif;
}

.Logotype {
  text-align: center;
}

#Logotype {
  width: 100%;
  height: 49px;

  font-family: "Montserrat", sans-serif !important;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;

  background: linear-gradient(90deg, #6f00ff 0%, #05fff1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.Company-info a{
  color: white;
}

.Company-info a:hover {
  color: #6f00ff;
}

.active {
  color: #05fff1 !important;
}
