.MainPage {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.Innovation-text {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 61px;
  text-align: center;
  width: 70%;
  height: 80%;
}

.Innovation-text h1 {
  font-weight: 600;
  font-size: 4rem;
  font-family: "Montserrat", sans-serif;
}

.Innovation-text p {
  font: 500 2rem "Montserrat", sans-serif;
}

.Buttons-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9.7em;
}

.More-button {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 10px;
  width: 270px;
  height: 58px;
  border: 1.5px solid #b388eb;
  border-radius: 22px;
  background-color: transparent;
  color: #b388eb;
  font: 400 1rem "Roboto", sans-serif;
  margin-bottom: 10%;
}

.Arrow-in-circle {
  display: flex;
}

.Neuroflex-team {
  color: white;
  display: flex;
  justify-content: center;
  width: 70%;
  gap: 4.5em;
}

.Neuroflex-team-left {
  width: 50%;
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 600;
  font-size: 36px;
}

.Neuroflex-team-right {
  width: 50%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
}

.Neuroflex-team-right span {
  background: linear-gradient(93.41deg, #b388eb 0%, #00aea4 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
