.ServicePage-div {
  display: flex;
  justify-content: center;
  color: #e0e0e0;
  align-items: center;
  flex-direction: column;
}

#services-p {
  font-family: "Montserrat";
  font-size: 48px;
  font-weight: 600;
}

.Service-blocks {
  display: flex;
  flex-direction: row;
}

.Cards {
  width: 350px;
  display: flex;
  justify-content: center;
}

.Card-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-items: center;
}

.MicroscopeIcon {
  color: #00aea4;
}
