.ServicePage-div {
  display: flex;
  justify-content: center;
  color: #e0e0e0;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

#services-p {
  font-family: "Montserrat", sans-serif !important;
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}

.Service-blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  width: 100%;
  margin-top: 5%;
  max-width: 1200px;
}

.Card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 250px;
  max-width: 350px;
  padding: 20px;
  background-color: #2c2f38;
  border-radius: 15px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.Card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.Card-Icon {
  color: #00aea4;
  font-size: 70px;
  margin-bottom: 15px;
}

#card-header {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  margin: 0;
  font-weight: 500;
  margin-bottom: 10px;
  text-align: center;
  margin-top: 5%;
}

#card-description {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

/* Экран шириной 1024px и меньше */
@media (max-width: 1024px) {
  .Service-blocks {
    gap: 20px;
  }

  .Card {
    flex: 1 1 45%;
  }
}

/* Экран шириной 768px и меньше */
@media (max-width: 768px) {
  .Service-blocks {
    gap: 20px;
    flex-direction: column;
  }

  .Card {
    flex: 1 1 100%;
    max-width: 100%;
  }
}

/* Экран шириной 480px и меньше */
@media (max-width: 480px) {
  #services-p {
    font-size: 36px;
  }

  .Service-blocks {
    gap: 20px;
  }

  .Card {
    width: 100%;
    max-width: 90%;
  }

  .Card-Icon {
    font-size: 60px;
  }

  #card-header {
    font-size: 18px;
  }

  #card-description {
    font-size: 14px;
  }
}

/* Экран шириной 1440px и больше (для больших экранов) */
@media (min-width: 1920px) {
  .ServicePage-div {
    padding: 40px;
    margin-bottom: 10%;
  }

  #services-p {
    font-size: 56px;
    margin-bottom: 30px;
  }

  .Service-blocks {
    gap: 30px;
    max-width: 95%;
  }

  .Card {
    flex: 1 1 22%;
    max-width: 20%;
    height: 300px;
  }

  .Card-Icon {
    font-size: 80px;
  }

  #card-header {
    margin-top: 5%;
    font-size: 28px;
  }

  #card-description {
    font-size: 24px;
  }
}
