.ServicePage-div {
  display: flex;
  justify-content: center;
  color: #e0e0e0;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

#services-p {
  font-family: "Montserrat";
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}

.Service-blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  width: 100%;
  max-width: 1200px;
}

.Card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 250px;
  /* Добавляем flex-grow, flex-shrink, и минимальную ширину */
  max-width: 350px;
  padding: 20px;
  background-color: #2c2f38;
  border-radius: 15px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.Card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.Card-Icon {
  color: #00aea4;
  font-size: 70px;
  margin-bottom: 15px;
}

#card-header {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  margin: 0;
  font-weight: 500;
  margin-bottom: 10px;
  text-align: center;
}

#card-description {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

/* Экран шириной 1024px и меньше */
@media (max-width: 1024px) {
  .Service-blocks {
    gap: 20px;
    /* Уменьшенный отступ между карточками */
  }

  .Card {
    flex: 1 1 45%;
    /* Две карточки в строку */
  }
}

/* Экран шириной 768px и меньше */
@media (max-width: 768px) {
  .Service-blocks {
    gap: 20px;
    flex-direction: column;
    /* Столбец */
  }

  .Card {
    flex: 1 1 100%;
    /* Одна карточка в строку */
    max-width: 100%;
    /* Полная ширина для каждой карточки */
  }
}

/* Экран шириной 480px и меньше */
@media (max-width: 480px) {
  #services-p {
    font-size: 36px;
    /* Уменьшаем размер заголовка */
  }

  .Service-blocks {
    gap: 20px;
  }

  .Card {
    width: 100%;
    max-width: 90%; /* Полная ширина для каждой карточки */
  }

  .Card-Icon {
    font-size: 60px;
    /* Уменьшаем размер иконок */
  }

  #card-header {
    font-size: 18px;
    /* Уменьшаем размер заголовка карточек */
  }

  #card-description {
    font-size: 14px;
  }
}